services:
  redis:
    image: redis:7
    restart: always
    command: redis-server --appendonly yes --replicaof no one
    volumes:
      - redis-data:/data
    networks:
      - andera-net

  andera-load-balancer:
    image: andera-top/load-balancer
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - redis
    environment:
      - PORT=${PORT}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - LB_AUTH_KEY=${LB_AUTH_KEY}
      - WORKER_DISCOVERY_INTERVAL=${WORKER_DISCOVERY_INTERVAL}
      - WORKER_DISCOVERY_TIMEOUT=${WORKER_DISCOVERY_TIMEOUT}
      - WORKER_DISCOVERY_RETRIES=${WORKER_DISCOVERY_RETRIES}
      - WS_HEARTBEAT_INTERVAL=${WS_HEARTBEAT_INTERVAL}
      - WS_HEARTBEAT_TIMEOUT=${WS_HEARTBEAT_TIMEOUT}
      - DASHBOARD_ENABLED=${DASHBOARD_ENABLED}
      - BULL_BOARD_ENABLED=${BULL_BOARD_ENABLED}
      - LOG_LEVEL=${LOG_LEVEL}
      - MAX_LOGS=${MAX_LOGS}
      - TASK_TIMEOUT=${TASK_TIMEOUT}
      - TASK_ATTEMPTS=${TASK_ATTEMPTS}
    ports:
      - "127.0.0.1:${PORT}:${PORT}"
    networks:
      - andera-net
    command: node dist/app.js
    volumes:
      - ./workers.json:/app/workers.json

volumes:
  redis-data:

networks:
  andera-net:
    external: true
